html body {
    background-color: #343434;
}

.navbar-brand {
    font-size: 2rem;
}

.navbar {
    background-color: #d14c18;
}

.jumbotron {
    padding-left: .75rem;
    padding-right: .75rem;
}

.display-4 {
    padding-bottom: 1rem;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    margin-top: 1.5rem;
}

.lead {
    text-indent: 1.5em;;
}

@media (min-width: 992px){
    header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1071;
    }
}

@media (max-width: 452px){
    .navbar-brand {
        font-size: 1.5rem;
    }
}